body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: url("pawan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
} 

.loginbox{
    width: 320px;
    height: 510px;
    background: inherit;
    color: rebeccapurple;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 150px 30px;
}

.avatar{
    width: 50px
    height: 50px;
    border-radius: 500px;
    position: absolute;
    top: -70px;
    left: calc(35% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px
    
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 20px;
    
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}